# Node modules
node_modules/

# Vite cache
.vite/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


build/

# System files
.DS_Store
Thumbs.db

# Env files
.env
.env.*.local
.env.local

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: Mac/Linux file trash
.Trash-*

# Optional: Windows file trash
$RECYCLE.BIN/

# Optional: Vite plugin cache (if using certain plugins)
.cache/
